a {
    color: inherit;
    text-decoration: none;
}

.addGame {
    position: fixed;
    float: right;
    bottom: 0;
    right: 0;
    width: 45px;
    padding: 0 30px 50px 0;
}

.avatar {
    height: 50px;
    width: 50px;
    background-color: #123b;
    border-radius: 50%;
    display: inline-block;
}

button {
    background-color: #FF7657;
    border: none;
    color: white;
    height: 25px;
    font-size: 15px;
}

input {
    border: none;
    padding: 5px;
    margin-bottom: 5px;
}

.profile {
    width: 50%;
    margin: auto;
}

.body {
    background-color: #ffffff;
    font-family: Oswald;
    margin: 0;
}

.card {
    background-color: #dae1e7;
    margin: 150px auto;
    width: 300px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    padding: 30px 30px 60px 30px;
}

.circle {
    height: 25px;
    width: 25px;
    background-color: #123b;
    border-radius: 50%;
    display: inline-block;
}

.error {
    color: red;
    font-size: 12px;
    font-family: Helvetica;
}

.gameInfo {
    padding-left: 20px;
}

.gameListCard {
    background-color: rgba(196, 196, 196);
    margin: 150px auto;
    max-width: 500px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    padding: 30px;
}

.gameContainer {
    display: grid;
    grid-template-columns: 25% auto 20%;
}

.gameTitle {
    font-size: 20px;
}

.input {
    width: 100%;
}

.join {
    vertical-align: bottom;
}

.signinButton {
    float: right;
    margin: 30px 30px;
    margin-top: 10px;
}

.logo {
    width: 50px;
    padding: 30px 30px 0 10px;
    margin: auto;
}

.loginCard {
    padding-bottom: 20px;
}

.name {
    float: right;
    font-family: Oswald;
    margin: 30px 30px;
}

.navbar {
    background-color: #FF7657;
    height: 80px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    color: white;
    font-family: Hanalei Fill;
    letter-spacing: 1.5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.footerbar {
    background-color: #183661;
    color:white;
    bottom: 0;
    font-size: 12px;
    height: 15px;
    left: 0;
    padding: 12px;
    position: sticky;
    right: 0;
    z-index: 999;
    margin: none;
}

.logoutButton {
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 10px;
}

.seating {
    display: grid;
    grid-template-columns: auto;
}

.title {
    font-size: 30px;
    padding-top: 30px;
    padding-left: 20px;
}

.username {
    font-family: Oswald;
    float: right;
    padding: 20px;
}

/* ------- Register Page ------- */

.register {
    float: left;
    margin: 20px 0;
}

.loginButton {
    float: right;
    margin: 20px 0;
}